/*google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

/*asterisk wildcard command to override default browser styless*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  background: darkred;
  font-family: 'Cinzel';
}

/*header styling*/
header {
  background-image: url("../images/hero.jpg");
  font-size: 120%;
  text-align: center;
  margin-top: 0px;
  height: 200px;
  padding: 10px;
  position: relative;
  border-width: 50px;
  border: 5px solid slategray;
}
  
header a h1 {
  color: darkred;
  text-decoration: none;
}
  
header p {
  font-weight: bold;
}
  
/*main quiz area styling*/
.quiz-area {
  background: #fff;
  width: 100%;
  max-width: 600px;
  margin: 50px auto 0;
  border-radius: 10px;
  padding: 30px;
}

  /*button styling*/
.answer{
  background: #fff;
  color: black;
  font-weight: 500;
  width: 100%;
  border: 1px solid slategray;
  padding: 10px;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.answer:hover:not([disabled]){
  background: slategray;
  color: white;
}

.answer:disabled{
  cursor: no-drop;
}

#play-again{
  background: slategray;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.correct{
  background: lightgreen;
}

.incorrect{
  background: lightcoral;
}


/* Very small screen media query */
@media screen and (min-width: 200px) {
  header {
    height:300px;
    font-size: 100%;
  }
  header p {
    font-size: 80%;
  }
}

/* Mobile screen media query */
@media screen and (min-width: 370px) {
    header {
      height:250px;
      font-size: 100%;
    }
    header p {
      font-size: 80%;
    }
  }

/* Tablet media query */
@media screen and (min-width: 768px) {
  header {
    font-size: 120%;
    height:300px;
  }
  header p {
    font-size: 100%;
  }
}

/* Desktop and larger media query */
@media screen and (min-width: 900px) {
  header p {
    font-size: 120%;
    margin-left: 50px;
    margin-right: 50px;
  }
  header {
    height:300px;
  }

}