/*google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

/*asterisk wildcard command to override default browser styless*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: darkred;
    font-family: 'Cinzel';
  }

  /*header styling*/
header {
    font-size: 120%;
    text-align: center;
    margin-top: 0px;
    height: 200px;
    padding: 10px;
    position: relative;
    border-width: 50px;
    border: 5px solid slategray;
  }
  
  header h1 {
    color: darkred;
    text-decoration: none;
  }
  
  header p {
    font-weight: bold;
  }
  
  /*main quiz area styling*/
  .quiz-area {
    background: #fff;
    width: 100%;
    max-width: 600px;
    margin: 50px auto 0;
    border-radius: 10px;
    padding: 30px;
  }